version: '3.8'

services:
  db:
    image: mysql:5.7
    environment:
      MYSQL_DATABASE: shop_db
      MYSQL_ROOT_PASSWORD: ""
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./shop_db.sql:/docker-entrypoint-initdb.d/shop_db.sql

  app:
    build: .
    ports:
      - "420:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db

volumes:
  db_data:
